In [1]:
pip install prince==0.7.1 # install the version 0.7.1()

Requirement already satisfied: prince==0.7.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.7.1)
Requirement already satisfied: matplotlib>=3.0.2 in /home/codespace/.local/lib/python3.12/site-packages (from prince==0.7.1) (3.9.2)
Requirement already satisfied: numpy>=1.17.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from prince==0.7.1) (1.26.4)
Requirement already satisfied: pandas>=1.0.3 in /home/codespace/.local/lib/python3.12/site-packages (from prince==0.7.1) (2.2.2)
Requirement already satisfied: scipy>=1.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from prince==0.7.1) (1.14.0)
Requirement already satisfied: scikit-learn>=0.22.1 in /home/codespace/.local/lib/python3.12/site-packages (from prince==0.7.1) (1.5.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (24.1)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.0.2->prince==0.7.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.3->prince==0.7.1) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.3->prince==0.7.1) (2024.1)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=0.22.1->prince==0.7.1) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=0.22.1->prince==0.7.1) (3.5.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.2->prince==0.7.1) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
from sklearn.datasets import load_iris

In [3]:
iris=load_iris()
X=pd.DataFrame(iris.data, columns=iris.feature_names)
Y=pd.Series(iris.target,name='species')

In [4]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [6]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
X